@media #{$media_sm} {
  .col-gap-4-sm {
    margin-right: -2rem;
    margin-left: -2rem;
  }

  .col-gap-4-sm .col-sm,
  .col-gap-4-sm .col-sm-1,
  .col-gap-4-sm .col-sm-2,
  .col-gap-4-sm .col-sm-3,
  .col-gap-4-sm .col-sm-4,
  .col-gap-4-sm .col-sm-5,
  .col-gap-4-sm .col-sm-6,
  .col-gap-4-sm .col-sm-7,
  .col-gap-4-sm .col-sm-8,
  .col-gap-4-sm .col-sm-9,
  .col-gap-4-sm .col-sm-10,
  .col-gap-4-sm .col-sm-11,
  .col-gap-4-sm .col-sm-12,
  .col-gap-4-sm .col-sm-offset-0,
  .col-gap-4-sm .col-sm-offset-1,
  .col-gap-4-sm .col-sm-offset-2,
  .col-gap-4-sm .col-sm-offset-3,
  .col-gap-4-sm .col-sm-offset-4,
  .col-gap-4-sm .col-sm-offset-5,
  .col-gap-4-sm .col-sm-offset-6,
  .col-gap-4-sm .col-sm-offset-7,
  .col-gap-4-sm .col-sm-offset-8,
  .col-gap-4-sm .col-sm-offset-9,
  .col-gap-4-sm .col-sm-offset-10,
  .col-gap-4-sm .col-sm-offset-11,
  .col-gap-4-sm .col-sm-offset-12,
  .col-gap-4-sm .col-md,
  .col-gap-4-sm .col-md-1,
  .col-gap-4-sm .col-md-2,
  .col-gap-4-sm .col-md-3,
  .col-gap-4-sm .col-md-4,
  .col-gap-4-sm .col-md-5,
  .col-gap-4-sm .col-md-6,
  .col-gap-4-sm .col-md-7,
  .col-gap-4-sm .col-md-8,
  .col-gap-4-sm .col-md-9,
  .col-gap-4-sm .col-md-10,
  .col-gap-4-sm .col-md-11,
  .col-gap-4-sm .col-md-12,
  .col-gap-4-sm .col-md-offset-0,
  .col-gap-4-sm .col-md-offset-1,
  .col-gap-4-sm .col-md-offset-2,
  .col-gap-4-sm .col-md-offset-3,
  .col-gap-4-sm .col-md-offset-4,
  .col-gap-4-sm .col-md-offset-5,
  .col-gap-4-sm .col-md-offset-6,
  .col-gap-4-sm .col-md-offset-7,
  .col-gap-4-sm .col-md-offset-8,
  .col-gap-4-sm .col-md-offset-9,
  .col-gap-4-sm .col-md-offset-10,
  .col-gap-4-sm .col-md-offset-11,
  .col-gap-4-sm .col-md-offset-12,
  .col-gap-4-sm .col-lg,
  .col-gap-4-sm .col-lg-1,
  .col-gap-4-sm .col-lg-2,
  .col-gap-4-sm .col-lg-3,
  .col-gap-4-sm .col-lg-4,
  .col-gap-4-sm .col-lg-5,
  .col-gap-4-sm .col-lg-6,
  .col-gap-4-sm .col-lg-7,
  .col-gap-4-sm .col-lg-8,
  .col-gap-4-sm .col-lg-9,
  .col-gap-4-sm .col-lg-10,
  .col-gap-4-sm .col-lg-11,
  .col-gap-4-sm .col-lg-12,
  .col-gap-4-sm .col-lg-offset-0,
  .col-gap-4-sm .col-lg-offset-1,
  .col-gap-4-sm .col-lg-offset-2,
  .col-gap-4-sm .col-lg-offset-3,
  .col-gap-4-sm .col-lg-offset-4,
  .col-gap-4-sm .col-lg-offset-5,
  .col-gap-4-sm .col-lg-offset-6,
  .col-gap-4-sm .col-lg-offset-7,
  .col-gap-4-sm .col-lg-offset-8,
  .col-gap-4-sm .col-lg-offset-9,
  .col-gap-4-sm .col-lg-offset-10,
  .col-gap-4-sm .col-lg-offset-11,
  .col-gap-4-sm .col-lg-offset-12 {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media #{$media_sm} {
  .col-gap-3-sm {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
  }

  .col-gap-3-sm .col-sm,
  .col-gap-3-sm .col-sm-1,
  .col-gap-3-sm .col-sm-2,
  .col-gap-3-sm .col-sm-3,
  .col-gap-3-sm .col-sm-4,
  .col-gap-3-sm .col-sm-5,
  .col-gap-3-sm .col-sm-6,
  .col-gap-3-sm .col-sm-7,
  .col-gap-3-sm .col-sm-8,
  .col-gap-3-sm .col-sm-9,
  .col-gap-3-sm .col-sm-10,
  .col-gap-3-sm .col-sm-11,
  .col-gap-3-sm .col-sm-12,
  .col-gap-3-sm .col-sm-offset-0,
  .col-gap-3-sm .col-sm-offset-1,
  .col-gap-3-sm .col-sm-offset-2,
  .col-gap-3-sm .col-sm-offset-3,
  .col-gap-3-sm .col-sm-offset-4,
  .col-gap-3-sm .col-sm-offset-5,
  .col-gap-3-sm .col-sm-offset-6,
  .col-gap-3-sm .col-sm-offset-7,
  .col-gap-3-sm .col-sm-offset-8,
  .col-gap-3-sm .col-sm-offset-9,
  .col-gap-3-sm .col-sm-offset-10,
  .col-gap-3-sm .col-sm-offset-11,
  .col-gap-3-sm .col-sm-offset-12,
  .col-gap-3-sm .col-md,
  .col-gap-3-sm .col-md-1,
  .col-gap-3-sm .col-md-2,
  .col-gap-3-sm .col-md-3,
  .col-gap-3-sm .col-md-4,
  .col-gap-3-sm .col-md-5,
  .col-gap-3-sm .col-md-6,
  .col-gap-3-sm .col-md-7,
  .col-gap-3-sm .col-md-8,
  .col-gap-3-sm .col-md-9,
  .col-gap-3-sm .col-md-10,
  .col-gap-3-sm .col-md-11,
  .col-gap-3-sm .col-md-12,
  .col-gap-3-sm .col-md-offset-0,
  .col-gap-3-sm .col-md-offset-1,
  .col-gap-3-sm .col-md-offset-2,
  .col-gap-3-sm .col-md-offset-3,
  .col-gap-3-sm .col-md-offset-4,
  .col-gap-3-sm .col-md-offset-5,
  .col-gap-3-sm .col-md-offset-6,
  .col-gap-3-sm .col-md-offset-7,
  .col-gap-3-sm .col-md-offset-8,
  .col-gap-3-sm .col-md-offset-9,
  .col-gap-3-sm .col-md-offset-10,
  .col-gap-3-sm .col-md-offset-11,
  .col-gap-3-sm .col-md-offset-12,
  .col-gap-3-sm .col-lg,
  .col-gap-3-sm .col-lg-1,
  .col-gap-3-sm .col-lg-2,
  .col-gap-3-sm .col-lg-3,
  .col-gap-3-sm .col-lg-4,
  .col-gap-3-sm .col-lg-5,
  .col-gap-3-sm .col-lg-6,
  .col-gap-3-sm .col-lg-7,
  .col-gap-3-sm .col-lg-8,
  .col-gap-3-sm .col-lg-9,
  .col-gap-3-sm .col-lg-10,
  .col-gap-3-sm .col-lg-11,
  .col-gap-3-sm .col-lg-12,
  .col-gap-3-sm .col-lg-offset-0,
  .col-gap-3-sm .col-lg-offset-1,
  .col-gap-3-sm .col-lg-offset-2,
  .col-gap-3-sm .col-lg-offset-3,
  .col-gap-3-sm .col-lg-offset-4,
  .col-gap-3-sm .col-lg-offset-5,
  .col-gap-3-sm .col-lg-offset-6,
  .col-gap-3-sm .col-lg-offset-7,
  .col-gap-3-sm .col-lg-offset-8,
  .col-gap-3-sm .col-lg-offset-9,
  .col-gap-3-sm .col-lg-offset-10,
  .col-gap-3-sm .col-lg-offset-11,
  .col-gap-3-sm .col-lg-offset-12 {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

@media #{$media_lg} {
  .col-gap-4-lg {
    margin-right: -2rem;
    margin-left: -2rem;
  }

  .col-gap-4-lg .col-sm,
  .col-gap-4-lg .col-sm-1,
  .col-gap-4-lg .col-sm-2,
  .col-gap-4-lg .col-sm-3,
  .col-gap-4-lg .col-sm-4,
  .col-gap-4-lg .col-sm-5,
  .col-gap-4-lg .col-sm-6,
  .col-gap-4-lg .col-sm-7,
  .col-gap-4-lg .col-sm-8,
  .col-gap-4-lg .col-sm-9,
  .col-gap-4-lg .col-sm-10,
  .col-gap-4-lg .col-sm-11,
  .col-gap-4-lg .col-sm-12,
  .col-gap-4-lg .col-sm-offset-0,
  .col-gap-4-lg .col-sm-offset-1,
  .col-gap-4-lg .col-sm-offset-2,
  .col-gap-4-lg .col-sm-offset-3,
  .col-gap-4-lg .col-sm-offset-4,
  .col-gap-4-lg .col-sm-offset-5,
  .col-gap-4-lg .col-sm-offset-6,
  .col-gap-4-lg .col-sm-offset-7,
  .col-gap-4-lg .col-sm-offset-8,
  .col-gap-4-lg .col-sm-offset-9,
  .col-gap-4-lg .col-sm-offset-10,
  .col-gap-4-lg .col-sm-offset-11,
  .col-gap-4-lg .col-sm-offset-12,
  .col-gap-4-lg .col-md,
  .col-gap-4-lg .col-md-1,
  .col-gap-4-lg .col-md-2,
  .col-gap-4-lg .col-md-3,
  .col-gap-4-lg .col-md-4,
  .col-gap-4-lg .col-md-5,
  .col-gap-4-lg .col-md-6,
  .col-gap-4-lg .col-md-7,
  .col-gap-4-lg .col-md-8,
  .col-gap-4-lg .col-md-9,
  .col-gap-4-lg .col-md-10,
  .col-gap-4-lg .col-md-11,
  .col-gap-4-lg .col-md-12,
  .col-gap-4-lg .col-md-offset-0,
  .col-gap-4-lg .col-md-offset-1,
  .col-gap-4-lg .col-md-offset-2,
  .col-gap-4-lg .col-md-offset-3,
  .col-gap-4-lg .col-md-offset-4,
  .col-gap-4-lg .col-md-offset-5,
  .col-gap-4-lg .col-md-offset-6,
  .col-gap-4-lg .col-md-offset-7,
  .col-gap-4-lg .col-md-offset-8,
  .col-gap-4-lg .col-md-offset-9,
  .col-gap-4-lg .col-md-offset-10,
  .col-gap-4-lg .col-md-offset-11,
  .col-gap-4-lg .col-md-offset-12,
  .col-gap-4-lg .col-lg,
  .col-gap-4-lg .col-lg-1,
  .col-gap-4-lg .col-lg-2,
  .col-gap-4-lg .col-lg-3,
  .col-gap-4-lg .col-lg-4,
  .col-gap-4-lg .col-lg-5,
  .col-gap-4-lg .col-lg-6,
  .col-gap-4-lg .col-lg-7,
  .col-gap-4-lg .col-lg-8,
  .col-gap-4-lg .col-lg-9,
  .col-gap-4-lg .col-lg-10,
  .col-gap-4-lg .col-lg-11,
  .col-gap-4-lg .col-lg-12,
  .col-gap-4-lg .col-lg-offset-0,
  .col-gap-4-lg .col-lg-offset-1,
  .col-gap-4-lg .col-lg-offset-2,
  .col-gap-4-lg .col-lg-offset-3,
  .col-gap-4-lg .col-lg-offset-4,
  .col-gap-4-lg .col-lg-offset-5,
  .col-gap-4-lg .col-lg-offset-6,
  .col-gap-4-lg .col-lg-offset-7,
  .col-gap-4-lg .col-lg-offset-8,
  .col-gap-4-lg .col-lg-offset-9,
  .col-gap-4-lg .col-lg-offset-10,
  .col-gap-4-lg .col-lg-offset-11,
  .col-gap-4-lg .col-lg-offset-12 {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
