$media_xsm: "only screen and (min-width: 34em)";
$media_sm: "only screen and (min-width:48em)";
$media_md: "only screen and (min-width: 64em)";
$media_lg: "only screen and (min-width: 75em)";

$media_xs_max: "only screen and (max-width:47.99em)";
$media_sm_max: "only screen and (max-width:63.99em)";
$media_md_max: "only screen and (max-width: 74.99em)";

$transition_link: " 0.3s ease";

@mixin arrow($n) {
  width: 0;
  height: 0;
  border-left: $n solid transparent;
  border-right: $n solid transparent;
  border-top: $n solid var(--black);
}
