@import "./base/variables";
@import "./base/grid";
@import "./abstracts/transitions";
@import "./base/base";

@import "./layout-default";
@import "./layout-admin";

.lazyLoad {
  opacity: 0;
  transition: opacity 0.4s ease-out;

  &.isLoaded {
    opacity: 1 !important;

    &:before {
      opacity: 1 !important;
    }
  }

  &:before {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
}

#app {
  min-width: 320px;
  overflow: hidden;
}
